<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mirkowu.lib_photo">


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".ui.ImagePickerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/ivp_theme" />
        <activity
            android:name=".ui.AlbumPreviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/ivp_theme" />
        <activity
            android:name=".ui.PreviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/ivp_theme" />

        <provider
            android:name=".provider.IVPProvider"
            android:authorities="${applicationId}.ivp.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/ivp_file_paths" />
        </provider>
    </application>
</manifest>