<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mirkowu.mvm">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name=".MVMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.widgetdemo.StateViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.widgetdemo.WidgetDemoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="sensor" />
        <activity android:name=".ui.download.DownloadActivity" />
        <activity android:name=".ui.imagepicker.ImagePickerActivity" />
        <activity
            android:name=".ui.webview.WebActivity"
            android:launchMode="singleTask"
            android:process="@string/webview_process"
            android:screenOrientation="portrait"
            android:theme="@style/WebViewTheme" />
        <activity
            android:name=".ui.recycelerview.GridListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.recycelerview.LinearListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mvvm.viewbinding.DataBindingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mvc.MVCActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mvp.MVPActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mvvm.MVVMActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.app.file_provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="resource" />
        </provider>
    </application>

</manifest>